{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Can Knaut">


    <title>Solar</title>

    <!-- Bootstrap core CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'cover.css' %}" />
        {% block addhead %}
        {% endblock %}
  </head>

  <body>
{% block body %}
    <div class="site-wrapper">
      <div class="site-wrapper-inner">

        <div class="cover-container">
        {% block navbar %}
          <div class="masthead clearfix">
            <div class="inner">
              <a href={% url "cover" %}> <h3 class="masthead-brand">Solar</h3></a>
              <nav class="nav nav-masthead">
                <a class="nav-link " href={% url "static_input" %}">Static</a>
                <a class="nav-link" href="#">Animation</a>
                <a class="nav-link" href="#">Machine Learning</a>
              </nav>
            </div>
          </div>
     {% endblock %}
            {% block innercover %}
          <div class="inner cover" style="color:#333">

<div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href={% url "static_input" %}><img class="card-img-top" src={% static "static_teaser.png" %}></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href={% url "static_input" %} style="color:#333">Project Static</a>
              </h4>
              <p class="card-text">Simulator of gravitational evolution of our solar system with static output as 2D or 3D graph.</p>
<br />
            <div class="alert alert-warning" role="alert">
              Under developpement
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src={% static "comingsoon.png" %} alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#"  style="color:#333">Project Animation</a>
              </h4>
              <p class="card-text">Extension of Project Static, providing beautifully rendered version of simulation output (e.g. planets flying around).</p>
            <div class="alert alert-primary" role="alert">
              Coming soon!
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src={% static "comingsoon.png" %} alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#" style="color:#333">Project Machine Leaning </a>
              </h4>
              <p class="card-text">Constructing alternative planet orbits maximizing the habitability (as to be defined by the model) by performing genetic algorithm evolution.</p>
            <div class="alert alert-primary" role="alert">
              Coming soon!
            </div>
            </div>
          </div>
        </div>
      </div>

          </div>
        {% endblock %}
          <div class="mastfoot">
            <div class="inner">
              <p>See <a href="https://github.com/cknaut/Solar"><b>Github</b></a> for more info</p>

            </div>
          </div>

        </div>

      </div>

    </div>
       {% endblock %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    {% block addfoot %}
    {% endblock %}


  </body>
</html>

