{% extends "pdf_print/base.html" %}
{% load static %}

{% block addheader %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block container %}

<header class="jumbotron my-4">
<div id="3DPlot"></div>
</header>

{% endblock %}



{% block addfoot %}
<script>
var data = [];
{% for planet in planet_list %}
    var {{ planet.name }} = {
      x: {{ planet.x_as_plotly }}, 
      y: {{ planet.y_as_plotly }},
      z: {{ planet.z_as_plotly }}, 
      type: 'scatter3d',
      mode: 'lines',
      name: '{{ planet.name }}',
      hoverinfo :   'name',
     colorscale: 'Blackbody',
    };
    data.push({{ planet.name }});
{% endfor %}

var layout = {
    paper_bgcolor: "#333",
    heigt: "1200",
    font: {
    color: "fff"
    },
    margin : {
    l: 0,
    r: 0,
    t: 0,
    b: 0,
    },
    };

Plotly.newPlot('3DPlot', data, layout);
</script>
{% endblock %}
