{% extends "pdf_print/base.html" %}
{% load static %}


{% block addhead %}
 <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}


{% block innercover %}
<div id="myDiv">
{% endblock %}


{% block addfoot %}
<script>

var data = [];
{% for planet in planet_list %}
    var {{ planet.name }} = {
      x: {{ planet.x_as_plotly }}, 
      y: {{ planet.y_as_plotly }}, 
      type: 'scatter',
      name: '{{ planet.name }}'
    };
    data.push({{ planet.name }})
{% endfor %}

Plotly.newPlot('myDiv', data);
</script>
{% endblock %}



